[Unit]
Description=FPGA Manager Service.
After=device-tree-overlay.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/modprobe fpgacfg
ExecStartPost=/usr/bin/fpgacfg-service.rb --install
ExecStop=/sbin/rmmod fpgacfg
ExecStopPost=/usr/bin/fpgacfg-service.rb --remove

[Install]
WantedBy=multi-user.target
