Source: fpga-soc-linux-drivers
Section: kmod
Priority: optional
Maintainer: ikwzm <ichiro_k@ca2.so-net.ne.jp>
Build-Depends: debhelper (>= 9), bzip2
Standards-Version: 3.9.6
Homepage: <https://github.com/ikwzm/FPGA-SoC-Linux>
#Vcs-Git: git://anonscm.debian.org/collab-maint/fpga-soc-linux-drivers.git
#Vcs-Browser: https://anonscm.debian.org/gitweb/?p=collab-maint/fpga-soc-linux-drivers.git;a=summary

Package: fpga-soc-linux-drivers-4.8.17-armv7-fpga
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, linux-image-4.8.17-armv7-fpga
Description: FPGA+SoC+Linux device drivers
 FPGA+SoC+Linux device drivers.
  dtbocfg: Device Tree Blob Overlay Configuration File System.
  fpgacfg: FPGA Configuration Interface for Linux FPGA Manager Framework.
  fclkcfg: FPGA Clock Configuration Device Driver.
  udmabuf: User space mappable DMA Buffer.
  zptty  : Pseudo TeleTYpewriter for FPGA Device.
