#!/usr/bin/make -f
# -*- makefile -*-

package = fpga-soc-linux-drivers
docdir  = debian/tmp/usr/share/doc/$(package)

clean:
	rm -f build
	-$(MAKE) clean
	rm -rf debian/tmp debian/*~ debian/files* debian/substvars

build:
	$(MAKE) all
	touch build

binary-indep: build

binary-arch: build
	rm -rf debian/tmp
	install -d debian/tmp/DEBIAN $(docdir)
	$(MAKE) prefix=$(CURDIR)/debian/tmp install
	cp -a debian/copyright      $(docdir)
	cp -a debian/changelog      $(docdir)/changelog.Debian
	cp -a ChangeLog             $(docdir)/changelog
	cd $(docdir) && gzip -9 changelog changelog.Debian
	# gzip -r9 debian/tmp/usr/share/man
	dpkg-gencontrol
	sed -i -e 's/^Architecture: .*$$/Architecture: armhf/g' debian/tmp/DEBIAN/control
	chown -R root:root debian/tmp
	chmod -$ u+w,go=rX debian/tmp
	dpkg-deb --build debian/tmp ..

binary: binary-indep binary-arch

